[Unit]
Description="Mark lvm auto-snapshots as good"

[Service]
Type=oneshot
ExecStart=/usr/bin/lvm-autosnap mark_good

[Install]
WantedBy=graphical.target

